body {
  main {
    header {
      nav {
        .logo {
          img {
            width: 150px;
            height: 100px;
            
          }
        }
        ul {
          width: 100%;
          li{
            a{
                font-family:Estedad-Regular;
            }
            a:hover{
                color: rgb(128, 125, 125) !important;
            }
          }
          .basket{
            border: solid 1px rgb(255, 172, 186) !important;
          }
        }
      }
      .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    height: 450px;
                    border-radius: 50px;
                }
                .carousel-caption{
                    h2{
                        font-family: Estedad-Medium;
                    }
                }
            }
        }
      }
      
    }
   
    .Products{
        h2{
            font-family: Estedad-Medium;
        }
        .products__card{
            .card{
                img{
                    height: 200px;
                    .card-body{
                        h6{
                            font-family:Estedad-Regular;
                        }
                    }
                }
            }
        }
        .view{
            a{
                text-decoration: none;
                font-family:Estedad-Regular;
            }
        }
    }
  }
}