@font-face{
    font-family: Estedad-Black;
    src: url(/fonts/Estedad-Black.ttf);
}
@font-face{
    font-family: Estedad-Bold;
    src: url(/fonts/Estedad-Bold.ttf);
}
@font-face{
    font-family: Estedad-ExtraBold;
    src: url(/fonts/Estedad-ExtraBold.ttf);
}
@font-face{
    font-family: Estedad-ExtraLight;
    src: url(/fonts/Estedad-ExtraLight.ttf);
}
@font-face{
    font-family: Estedad-Light;
    src: url(/fonts/Estedad-Light.ttf);
}
@font-face{
    font-family: Estedad-Medium;
    src: url(/fonts/Estedad-Medium.ttf);
}
@font-face{
    font-family:Estedad-Regular;
    src: url(/fonts/Estedad-Regular.ttf);
}
@font-face{
    font-family: Estedad-SemiBold;
    src: url(/fonts/Estedad-SemiBold.ttf);
}
@font-face{
    font-family: Estedad-Thin;
    src: url(/fonts/Estedad-Thin.ttf);
}